
        *  {
            
            box-sizing: border-box;
        }
        body { 
            margin: 0;
            padding: 0;           
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;background-color: #E5E5E5;         
        }
        /* 
        ------------------------
              Nav
        ------------------------
        */   
        .navbar  {
            height: 10vh;
            background-color: inherit;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 1.5em;
        }
        .brand-logo h1{
            font-size: 3em;
            color: #4F8C64;
            line-height: .5em;
            margin: 0em 0em 0em -1em;
            font-family: 'Lobster', cursive;
/* font-family: 'Great Vibes', cursive;font-family: 'Parisienne', cursive;
font-family: 'Alex Brush', cursive;
font-family: 'Qwigley', cursive;
font-family: 'Rouge Script', cursive;*/ 

        }
        .brand-logo p{
            color: #4F8C64;
            line-height: .5em;
            font-family: 'Lobster', cursive;
            margin-left: .5em;
        }
        .nav-links ul {
            margin: auto;
            padding: 0em;
            display: flex;                         
        }
        .nav-links li  {
            list-style: none;
            font-size: 1.15em;
            font-weight: 900;       
        }
        .nav-links li a {
            color: #4F8C64;
            text-decoration: none; 
            padding: 2em;                    
        } 
        .nav-links li:hover  {
            cursor: pointer;
            background-color: whitesmoke;
            padding: .5em .5em
        } 
        .toggle-btn  {
            position: absolute;
            top: .7em;
            right: 1.7em;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 2em;
            height: 1.5em;
        }  
        .toggle-btn .line {           
            width: 100%;
            height: .3em;
            background-color: white;
            border-radius: 1em;
        }    
        /* 
        ------------------------
              Sign In
        ------------------------
        */   
        .landing  {
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;  
            margin-top: 3em;
            margin-bottom: 1em;          
        }
        .sign-in  {
            background-color: #4F8C64;
            padding: 6.3em 3.5em 7.5em 5.5em;
            border-radius: .5em;
            border-top-right-radius: 0em;
            border-bottom-right-radius: 0em;
            color: whitesmoke;
            text-align: center;            
        }
        .sign-in h1 {
            text-transform: capitalize;
            font-size: 2.5em;
            font-weight: bolder;
        }
        .register  {
            margin-top: 2em;
            font-size: .8em;
        }
        p  {
            line-height: 1em;
        }

        /* 
        ------------------------
              Buttons
        ------------------------
        */  
               
        .sign-in button {
            width: 11em;
            height: 3em;
            background-color: #4F8C64;
            border: 1.5px solid whitesmoke;
            border-radius: 8em;
            margin-top: 1.5em;
            color: whitesmoke;  
            text-transform: capitalize;
            font-weight: 700; 
            padding: 1em 2em 1em 2em;              
        }
        .button {
            border: none;
            background-color: rgb(168, 176, 184);
            background-color: #4F8C64;
            height: 3em;
            width: 22em;
            font-size: 1em;
            font-weight: 700;
            text-align: center;
            color: whitesmoke;
        }
        .button:hover  {
            background-color: lightslategrey;
            cursor: pointer;
        }
        button:hover  {
            background-color: whitesmoke;
            color: #4F8C64;
            cursor: pointer;
        }
        button:active  {
            top: 2px;
        }
        /* 
       ------------------------
               Forms
       ------------------------
        */
        .form  {
            background-color: white;
            padding: .71em 3.5em 1.5em 3.5em;
            border-radius: .5em;
            border-top-left-radius: 0em;
            border-bottom-left-radius: 0em;
            text-align: center;
        }
        .form h2 {
            color: grey;
            margin-bottom: 2em;
            padding-top: 1em;
        }        
        #name,  #email,  #password,  #cpass  {
            border: none;
            background-color: rgb(228, 231, 235);
            height: 3em;
            width: 22em;
            font-size: 1em;
            font-weight: 700;
            text-align: start;
        }
        #error_message{
            background-color: blue;
            padding: em;
            font-size: 1em;
            transition: all .5s ease;
        }
        .footer  {
            
            color: darkorchid;
        }
        .footer  {
            margin-top: 0.5em;
            color:  grey;
        }
         /* 
         ------------------------
              Media Queries
         ------------------------
         */
         @media screen and (max-width: 400px) {
            .brand-logo{
                font-size: .7em;
            
            }
            .brand-logo h1{                
                margin: 0em 0em 0em 0em;   
            }
            .sign-in  {
                margin-top: 1em;
    
            }
            .sign-in h1 {
                margin-top: -1em;
            }
            #name,  #email,  #password,  #cpass  {
               width: 18em;
            }
            .button {
                width: 18em;
             }
             .form {
                padding: 0em 1em 0em 1em;
             }
            
        }
         @media screen and (max-width: 768px) {
            .landing  {
            display: flex;
            flex-direction: column;        
            justify-content: center;
            align-items: center; 
            margin-top: 15em;
            padding: 0em 2em 0em 2em;
                            
        }
        .brand-logo p{
            margin-left: 4em; 
        
        }
        .brand-logo h1{                
            margin: 0em 0em 0em 1em;   
        }
        .sign-in  {
            margin-top: -5em;

        }
        .sign-in h1 {
            margin-top: -1em;
        }
              
         .form {
            padding: 0em 2em 0em 2em;
         }
        .toggle-btn  {
            display: flex;                   
        }
        .nav-links  {
            display: none;
            width: 100%;
        }        
        .sign-in, .form  {
          border-radius: 0em;         
        }
        .navbar  {
            flex-direction: column;
            align-items: flex-start;           
        }
        .nav-links ul {
            width: 100%;
            flex-direction: column;
        }
        .nav-links li {
            text-align: center;
        }
        .nav-links li a{
            padding: .5em 1em;
            color: white;
        }
        .nav-links:active {
            display: flex;
        }
    }        
        
