
            *  {            
               box-sizing: border-box;
           }
           body { 
               margin: 0;
               padding: 0;           
               font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
               background-color: #E5E5E5;  
            }
           /* 
           ------------------------
                 Nav
           ------------------------
           */   
           .navbar  {
               height: 10vh;
               background-color: inherit;
               display: flex;
               justify-content: space-around;
               align-items: center;
               margin-top: 1.5em;
        }
        .brand-logo h1{
            font-size: 3em;
            color: #4F8C64;
            line-height: .5em;
            margin: 0em 0em 0em -1em;
            font-family: 'Lobster', cursive;
/* font-family: 'Great Vibes', cursive;font-family: 'Parisienne', cursive;
font-family: 'Alex Brush', cursive;
font-family: 'Qwigley', cursive;
font-family: 'Rouge Script', cursive;*/ 

        }
        .brand-logo p{
            color: #4F8C64;
            line-height: .5em;
            font-family: 'Lobster', cursive;
            margin-left: .5em;
        }
         .nav-links ul {
               margin: auto;
               padding: 0em;
               display: flex;                         
           }
           .nav-links li  {
               list-style: none;
               font-size: 1.15em;
               font-weight: 900;       
           }
           .nav-links li a {
               color: #4F8C64;
               text-decoration: none; 
               padding: 2em;                    
           } 
           .nav-links li:hover  {
               cursor: pointer;
               background-color: whitesmoke;
               padding: .5em .5em;
           } 
           .toggle-btn  {
               position: absolute;
               top: .7em;
               right: 1.7em;
               display: none;
               flex-direction: column;
               justify-content: space-between;
               width: 2em;
               height: 1.5em;
           }  
           .toggle-btn .line {           
               width: 100%;
               height: .3em;
               background-color: white;
               border-radius: 1em;
           } 
            /* 
           ------------------------
                 Body
           ------------------------
           */   
           .headline {
               display: flex; 
               justify-content: space-between; 
               margin-top: -4em;         
           } 
           h2  {       
               color: #4F8C64;
               font-weight: 700;
               font-size: x-large;      
              
            }     
           h2 a {       
                color: #4F8C64;
                text-decoration: none;    
                font-weight: 700;
                font-size: x-large;      
            }  
           .article {
                height: 80vh;
                 margin: 5em 2em 5em 2em;           
            }  
           .main {  
                display: flex;
                flex-direction: row; 
                justify-content: space-evenly;
            } 
            .topic a {   
                color: #4F8C64;
                text-decoration: none;    
                font-weight: 700;
                font-size: large;                         
            } 
            .author { 
                color: grey;          
            }  
           .imgpost { 
                width: 15em;
                height: 15em;
            }  
            .notepost {
                margin-left: 2em;           
            } 
            .slide { 
                display: flex; 
                justify-content: center;
            } 
             /* 
           ------------------------
                 Button
           ------------------------
           */    
            button { 
                padding: .5em .5em .5em .5em;
                margin-bottom: 2em;  
                margin-top: 2em;
                background-color: #4F8C64;  
            } 
            button a { 
                text-decoration: none;   
                color: whitesmoke;
                text-decoration: none;    
                font-weight: 700;
            }  
             
             /* 
           ------------------------
                 Footer
           ------------------------
           */   
            .footer { 
                height: 10vh; 
                display: inline-flex; 
                justify-content: ;
                align-items: center;  
                background-color: #4F8C64; 
                color: whitesmoke;  
                text-align: center; 
                        
            } 
            .contact {                 
                padding-left:  em;
            }  
            .contact, .faq, .condition, .policy { 
                
                padding-right:  em;
            }  
             

            /* 
         ------------------------
              Media Queries
         ------------------------
         */
         @media screen and (max-width: 400px) {
        
        .article {        
            margin: 1em .3em 0em 1em;           
        }  
        .main { 
            display: block ;
            align-items: center;                      
        }   
        .imgpost {
            width: 18em;
            height: 15em;
            margin-left: 0em;
            margin-right: 0em;
        } 
        .notepost { 
            margin-top: 2em;
            margin-left: 0em;
        }  
        .brand-logo{
            font-size: 3em;
            margin-left: em;
        }
        .toggle-btn  {
            display: flex;                   
        }
        .nav-links  {
            display: none;
            width: 100%;
        }        
        .sign-in, .form  {
            border-radius: 0em;         
        }
        .navbar  {
            flex-direction: column;
            align-items: flex-start;           
        }
        .nav-links ul {
            width: 100%;
            flex-direction: column;
        }
        .nav-links li {
            text-align: center;
        }
        .nav-links li a{
            padding: .5em 1em;
            color: white;
        }
        .nav-links:active {
            display: flex;
        } 
            }
            

    